@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Patrick+Hand&display=swap');

h1 {
font-family: 'Patrick Hand', cursive;
color: white;
font-size: 24px;
text-align: center;
}

div {
text-align: center;
}

p {
font-family: 'Open Sans', sans-serif;
color: white;
font-size: 16px;
  text-align: center;
}

body {
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 55%, rgba(98,0,0,1) 83%, rgba(138,0,0,1) 100%);
}
